.alert.is-visible
    p.alert__text In the next 7 days (08/01/2023-08/08/2023), i I will be unavailable. I bring my apologies.
    button.alert__close(type="button" aria-label="Close alert")
        svg.alert__close-icon(width="21" height="21")
            use(xlink:href="img/sprite.svg#close")
