.modal-wrap
    #modal-quote.modal
        .modal__inner
            .modal__window
                button.modal__close(aria-label="Close modal" data-modal-close type="button")
                    svg.modal__close-icon(width="40" height="40")
                        use(xlink:href="img/sprite.svg#close-modal")

                form.form(id="form" autocomplete="off" novalidate="novalidate")
                    h3.form__title Get a quote

                    .form__group
                        input#inputName.input.form__input(type="text" name="inputFirstName" placeholder="Name*" autocomplete="off" required)
                    
                    .form__group
                        input#inputPhone.input.form__input(type="text" name="inputPhone" placeholder="Phone (what'sapp)*" autocomplete="off" required)
                    
                    .form__group
                        input#inputEmail.input.form__input(type="email" name="inputEmail" placeholder="Email" autocomplete="off")

                    .form__group
                        textarea#textarea.textarea.form__input(name="message" rows="4" placeholder="Comment" autocomplete="off" required)

                    .form__group.form__group--center
                        .checkbox
                            input.checkbox__input#checkboxAgree(type="checkbox" name="checkbox" value="true" checked required)
                            label.checkbox__label(for="checkboxAgree") I agree to the 
                                a.black-link(href="#") Privacy Policy

                    .form__button-group
                        button.button.form__button Submit
