section.catalog-section
    .container.catalog-section__container
        ul.catalog-section__list
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects-img-1.webp" srcset="img/projects-img-1@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                    
                    .project-card__content
                        h3.project-card__title Steel construction - statics
                        .project-card__descr
                            p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                        .arrow-button.arrow-button--blue.project-card__next
                            .arrow-button__pic
                                svg.arrow-button__icon(width="17" height="16")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            | next
            
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects-img-2.webp" srcset="img/projects-img-2@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                    
                    .project-card__content
                        h3.project-card__title Steel construction - statics
                        .project-card__descr
                            p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                        .arrow-button.arrow-button--blue.project-card__next
                            .arrow-button__pic
                                svg.arrow-button__icon(width="17" height="16")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            | next
                            
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects-img-3.webp" srcset="img/projects-img-3@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                    
                    .project-card__content
                        h3.project-card__title Steel construction - statics
                        .project-card__descr
                            p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                        .arrow-button.arrow-button--blue.project-card__next
                            .arrow-button__pic
                                svg.arrow-button__icon(width="17" height="16")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            | next
                            
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects-img-4.webp" srcset="img/projects-img-4@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                    
                    .project-card__content
                        h3.project-card__title Steel construction - statics
                        .project-card__descr
                            p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                        .arrow-button.arrow-button--blue.project-card__next
                            .arrow-button__pic
                                svg.arrow-button__icon(width="17" height="16")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            | next

            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects-img-1.webp" srcset="img/projects-img-1@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                    
                    .project-card__content
                        h3.project-card__title Steel construction - statics
                        .project-card__descr
                            p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                        .arrow-button.arrow-button--blue.project-card__next
                            .arrow-button__pic
                                svg.arrow-button__icon(width="17" height="16")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            | next
            
            li.catalog-section__item
                a.project-card(href="#")
                    picture.project-card__picture
                        img.project-card__img(src="img/projects-img-2.webp" srcset="img/projects-img-2@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                    
                    .project-card__content
                        h3.project-card__title Steel construction - statics
                        .project-card__descr
                            p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                        .arrow-button.arrow-button--blue.project-card__next
                            .arrow-button__pic
                                svg.arrow-button__icon(width="17" height="16")
                                    use(xlink:href="img/sprite.svg#arrow-right")
                            | next

        nav.pagenav.catalog-section__pagenav(aria-label="Page navigation")
            ul.pagenav__list
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Previous")
                        svg.pagenav__icon(width="17" height="16")
                            use(xlink:href="img/sprite.svg#arrow-left")
                li.pagenav__item.is-active(aria-current="page")
                    a.pagenav__link(href="#") 1
                li.pagenav__item
                    a.pagenav__link(href="#") 2
                li.pagenav__item
                    span ...
                li.pagenav__item
                    a.pagenav__link(href="#") 7
                li.pagenav__item
                    a.pagenav__arrow(href="#" aria-label="Next")
                        svg.pagenav__icon(width="17" height="16")
                            use(xlink:href="img/sprite.svg#arrow-right") 
