section.details-section
    .container
        h2.section-title.details-section__title.animation-down A few details about myself
    
    .details-section__bottom
        .container
            ul.details-section__list
                li.details-section__item.animation-down(data-delay="0.2")
                    .detail-card
                        .detail-card__number 01
                        p.detail-card__text As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions

                li.details-section__item.animation-down(data-delay="0.4")
                    .detail-card
                        .detail-card__number 02
                        p.detail-card__text I always strive to provide qualitative and clear feedback on construction designs in a timely manner
                
                li.details-section__item.animation-down(data-delay="0.6")
                    .detail-card
                        .detail-card__number 03
                        p.detail-card__text My focus is always on safety and optimisation of material and general costs for you as a customer
                
                li.details-section__item.animation-down(data-delay="0.8")
                    .detail-card
                        .detail-card__number 04
                        p.detail-card__text In cooperation with your commitment, I offer an uncomplicated collaboration and look forward to supporting you in future challenges
