section.product-section
    .container.product-section__container
        .product-section__col
            h2.product-section__title.product-section__title--visible-md Façade and metal construction
            
            picture.product-section__picture
                img.product-section__img(src="img/product-img-3.webp" srcset="img/product-img-3@2x.webp 2x" loading="lazy" width="529" height="457" alt="alt")
        
        .product-section__col
            h2.product-section__title.product-section__title--hidden-md Façade and metal construction
            
            .product-section__text
                p With our expert knowledge, we accompany you in the planning of façade construction, metal construction and steel construction. We support you in every phase of the project, be it in design and development, but also in execution and workshop planning.
                h3 Design development
                ul
                    li Consulting
                    li Draft planning
                    li Cost estimate
                h3 Project support
                ul
                    li Scope of construction
                    li Approval planning
                    li Workshop planning
                h3 Execution support
                ul
                    li Support of material purchasing
                    li Supervision of production and assembly processes
                    li Cooperation during completion and handover
        
        .product-section__col
            .product-section__text.product-section__text--mb-150
                p Your 2D drawing or 3D model can be read directly into the statics software. By reading in a wide variety of formats such as DXF, DWG, IFC, STEP files and others, misunderstandings can be avoided and efficiency increased for everyone
            
            a.button.product-section__button(href="#") Get a quote
        
        .product-section__col
            .products-slider
                .swiper.products-slider__swiper
                    .swiper-wrapper
                        .swiper-slide.products-slider__slide
                            picture.products-slider__picture
                                img.products-slider__img(src="img/product-img-4.webp" srcset="img/product-img-4@2x.webp 2x" loading="lazy" width="539" height="444" alt="alt")
                        
                        .swiper-slide.products-slider__slide
                            picture.products-slider__picture
                                img.products-slider__img(src="img/product-img-4.webp" srcset="img/product-img-4@2x.webp 2x" loading="lazy" width="539" height="444" alt="alt")

                        .swiper-slide.products-slider__slide
                            picture.products-slider__picture
                                img.products-slider__img(src="img/product-img-4.webp" srcset="img/product-img-4@2x.webp 2x" loading="lazy" width="539" height="444" alt="alt")

                    .swiper-scrollbar.products-slider__scrollbar

                button.arrow-button.arrow-button--blue.products-slider__prev(type="button" aria-label="previous slide")
                    .arrow-button__pic
                        svg.arrow-button__icon(width="18" height="17")
                            use(xlink:href="img/sprite.svg#arrow-right")

                button.arrow-button.arrow-button--blue.products-slider__next(type="button" aria-label="next slide")
                    .arrow-button__pic
                        svg.arrow-button__icon(width="18" height="17")
                            use(xlink:href="img/sprite.svg#arrow-right")
