section.head-section
    picture.head-section__bg
        img.head-section__bg-img(src="img/facade-bg.webp" srcset="img/facade-bg@2x.webp 2x" loading="lazy" width="1920" height="303"  alt="alt")
        
    .container.head-section__container
        h1.head-section__title Facade engineering

        nav.breadcrumbs.head-section__breadcrumbs
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Home
                li.breadcrumbs__item(aria-current="page") Facade engineering
