section.gallery-section#gallery
    ul.gallery-list
        li.gallery-list__item.animation-down(data-delay="0.1")
            a.gallery-list__link(href="img/gallery-img-1@2x.webp" data-pswp-width="836" data-pswp-height="768")
                picture.gallery-list__picture
                    img.gallery-list__img(src="img/gallery-img-1.webp" srcset="img/gallery-img-1@2x.webp 2x" loading="lazy" width="418" height="384" alt="alt")
        
        li.gallery-list__item.animation-down(data-delay="0.2")
            a.gallery-list__link(href="img/gallery-img-2@2x.webp" data-pswp-width="836" data-pswp-height="768")
                picture.gallery-list__picture
                    img.gallery-list__img(src="img/gallery-img-2.webp" srcset="img/gallery-img-2@2x.webp 2x" loading="lazy" width="418" height="384" alt="alt")
            
        li.gallery-list__item.animation-down(data-delay="0.3")
            a.gallery-list__link(href="img/gallery-img-3@2x.webp" data-pswp-width="836" data-pswp-height="768")
                picture.gallery-list__picture
                    img.gallery-list__img(src="img/gallery-img-3.webp" srcset="img/gallery-img-3@2x.webp 2x" loading="lazy" width="418" height="384" alt="alt")
        
        li.gallery-list__item.animation-down(data-delay="0.4")
            a.gallery-list__link(href="img/gallery-img-4@2x.webp" data-pswp-width="836" data-pswp-height="768")
                picture.gallery-list__picture
                    img.gallery-list__img(src="img/gallery-img-4.webp" srcset="img/gallery-img-4@2x.webp 2x" loading="lazy" width="418" height="384" alt="alt")
