section.product-section
    .container.product-section__container
        .product-section__col
            h2.product-section__title.product-section__title--visible-md In the field of glass design we specialise in:
            
            picture.product-section__picture
                img.product-section__img(src="img/product-img-5.webp" srcset="img/product-img-5@2x.webp 2x" loading="lazy" width="529" height="457" alt="alt")
        
        .product-section__col
            h2.product-section__title.product-section__title--hidden-md In the field of glass design we specialise in:
            
            .product-section__text
                p
                    strong.blue-color Glass analysis:
                    |  We ensure structural reliability and durability for your projects.
                p
                    strong.blue-color Glass calculation:
                    |  Accurate calculations in compliance with Swiss and European regulations.
                p Compliance with regulations: We keep your projects up to date with building standards.
                p - SIA 2057:2021 (Switzerland)
                p - DIN 18008
                p - Also familiar with TRAV/TRLV (outdated)
        
        .product-section__col
            .product-section__text
                h2.product-section__title Design solutions
                p Optimisation of glass constructions: With the project-specific requirements, you receive the optimal and economical glass construction for your individual glass solutions.
                p Life safety and protection: Fulfilment of safety requirements according to the current SIGAB and BFU guidelines.
                p SSG glazing design: Determination of the required joint sizes.
                p Regardless of your position - architect, engineer, construction expert or project manager - CS Constructions GmbH is the right partner for you. With us, you will receive prompt initial feedback when it comes to the necessary glass thicknesses and requirements. Do not hesitate to contact us to discuss your individual project requirements
            
            a.button.product-section__button(href="#") Get a quote
        
        .product-section__col
            picture.product-section__picture
                img.product-section__img(src="img/product-img-6.webp" srcset="img/product-img-6@2x.webp 2x" loading="lazy" width="529" height="334" alt="alt")
