section.product-section
    .container.product-section__container
        .product-section__col.product-section__col--md-order-2
            h2.product-section__title.product-section__title--hidden-md Metal constructions
            
            .product-section__text
                p Our expertise encompasses structural analysis and the development of straightforward, cost-effective solutions for projects of all sizes. We provide comprehensive support, guiding both metal construction professionals and architectural teams in resolving complex technical challenges from start to finish.
                p Elevate your construction projects with our meticulous expertise in profile dimensioning, connection details, concrete anchor sizing, foundation design, and comprehensive static analysis for a wide range of structures, including balconies, railings, brackets, stairs, landings, and much more.
            
            a.button.product-section__button(href="#" data-modal="modal-quote") Get a quote

        .product-section__col.product-section__col--md-order-1
            h2.product-section__title.product-section__title--visible-md Metal constructions
            
            picture.product-section__picture
                img.product-section__img(src="img/product-img-8.webp" srcset="img/product-img-8@2x.webp 2x" loading="lazy" width="632" height="366" alt="alt")

            picture.product-section__picture
                img.product-section__img(src="img/product-img-7.webp" srcset="img/product-img-7@2x.webp 2x" loading="lazy" width="633" height="832" alt="alt")
