section.projects-section
    .container.projects-section__container
        header.projects-section__header.animation-down
            h2.section-title.projects-section__title Projects

            a.arrow-button.arrow-button--blue.projects-section__all(href="#")
                .arrow-button__pic
                    svg.arrow-button__icon(width="17" height="16")
                        use(xlink:href="img/sprite.svg#arrow-right")
                | all projects
        
        .swiper.projects-slider.animation-down
            .swiper-wrapper
                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects-img-1.webp" srcset="img/projects-img-1@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                        
                        .project-card__content
                            h3.project-card__title Steel construction - statics
                            .project-card__descr
                                p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                            .arrow-button.arrow-button--blue.project-card__next
                                .arrow-button__pic
                                    svg.arrow-button__icon(width="17" height="16")
                                        use(xlink:href="img/sprite.svg#arrow-right")
                                | next
                
                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects-img-2.webp" srcset="img/projects-img-2@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                        
                        .project-card__content
                            h3.project-card__title Steel construction - statics
                            .project-card__descr
                                p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                            .arrow-button.arrow-button--blue.project-card__next
                                .arrow-button__pic
                                    svg.arrow-button__icon(width="17" height="16")
                                        use(xlink:href="img/sprite.svg#arrow-right")
                                | next
                
                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects-img-3.webp" srcset="img/projects-img-3@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                        
                        .project-card__content
                            h3.project-card__title Steel construction - statics
                            .project-card__descr
                                p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                            .arrow-button.arrow-button--blue.project-card__next
                                .arrow-button__pic
                                    svg.arrow-button__icon(width="17" height="16")
                                        use(xlink:href="img/sprite.svg#arrow-right")
                                | next
                
                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects-img-4.webp" srcset="img/projects-img-4@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                        
                        .project-card__content
                            h3.project-card__title Steel construction - statics
                            .project-card__descr
                                p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                            .arrow-button.arrow-button--blue.project-card__next
                                .arrow-button__pic
                                    svg.arrow-button__icon(width="17" height="16")
                                        use(xlink:href="img/sprite.svg#arrow-right")
                                | next

                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects-img-1.webp" srcset="img/projects-img-1@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                        
                        .project-card__content
                            h3.project-card__title Steel construction - statics
                            .project-card__descr
                                p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                            .arrow-button.arrow-button--blue.project-card__next
                                .arrow-button__pic
                                    svg.arrow-button__icon(width="17" height="16")
                                        use(xlink:href="img/sprite.svg#arrow-right")
                                | next
                
                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects-img-2.webp" srcset="img/projects-img-2@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                        
                        .project-card__content
                            h3.project-card__title Steel construction - statics
                            .project-card__descr
                                p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                            .arrow-button.arrow-button--blue.project-card__next
                                .arrow-button__pic
                                    svg.arrow-button__icon(width="17" height="16")
                                        use(xlink:href="img/sprite.svg#arrow-right")
                                | next
                
                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects-img-3.webp" srcset="img/projects-img-3@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                        
                        .project-card__content
                            h3.project-card__title Steel construction - statics
                            .project-card__descr
                                p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                            .arrow-button.arrow-button--blue.project-card__next
                                .arrow-button__pic
                                    svg.arrow-button__icon(width="17" height="16")
                                        use(xlink:href="img/sprite.svg#arrow-right")
                                | next
                
                .swiper-slide.projects-slider__slide
                    a.project-card(href="#")
                        picture.project-card__picture
                            img.project-card__img(src="img/projects-img-4.webp" srcset="img/projects-img-4@2x.webp 2x" loading="lazy" width="255" height="234"  alt="alt")
                        
                        .project-card__content
                            h3.project-card__title Steel construction - statics
                            .project-card__descr
                                p Steel construction based on SIA 263and Eurocode 3incl. country-specific appendix
                            .arrow-button.arrow-button--blue.project-card__next
                                .arrow-button__pic
                                    svg.arrow-button__icon(width="17" height="16")
                                        use(xlink:href="img/sprite.svg#arrow-right")
                                | next

            .swiper-scrollbar.projects-slider__scrollbar

        a.arrow-button.arrow-button--blue.projects-section__all-bottom(href="#")
            .arrow-button__pic
                svg.arrow-button__icon(width="17" height="16")
                    use(xlink:href="img/sprite.svg#arrow-right")
            | all projects