section.seo-section
    .container.seo-section__container
        .seo-section__text
            p As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions. As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions.
            p As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions.
            p As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions. As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions.
            p As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions.
            p As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions. As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions.
            p As a trained metal construction designer and civil engineer specialising in metal, steel and façade construction, I offer economical and uncomplicated but well thought-out solutions.

        button.arrow-button.arrow-button--blue.seo-section__more(type="button")
            .arrow-button__pic
                svg.arrow-button__icon(width="16" height="17")
                    use(xlink:href="img/sprite.svg#arrow-down")
            | read more
