section.services-section
    .container.services-section__container
        h2.section-title.services-section__title Services
    
    ul.services-section__list
        li.services-section__item
            .service-card
                picture.service-card__picture
                    img.service-card__img(src="img/services-img-1.webp" srcset="img/services-img-1@2x.webp 2x" loading="lazy" width="600" height="454"  alt="alt")

                .service-card__content
                    h3.service-card__title
                        span FACADE
                        | engineering

                    a.arrow-button.service-card__next(href="#")
                        .arrow-button__pic
                            svg.arrow-button__icon(width="17" height="16")
                                use(xlink:href="img/sprite.svg#arrow-right")
                        | Next
        
        li.services-section__item
            .service-card
                picture.service-card__picture
                    img.service-card__img(src="img/services-img-2.webp" srcset="img/services-img-2@2x.webp 2x" loading="lazy" width="600" height="454"  alt="alt")

                .service-card__content
                    h3.service-card__title
                        span Steel
                        | structures

                    a.arrow-button.service-card__next(href="#")
                        .arrow-button__pic
                            svg.arrow-button__icon(width="17" height="16")
                                use(xlink:href="img/sprite.svg#arrow-right")
                        | Next
        
        li.services-section__item
            .service-card
                picture.service-card__picture
                    img.service-card__img(src="img/services-img-3.webp" srcset="img/services-img-3@2x.webp 2x" loading="lazy" width="600" height="454"  alt="alt")

                .service-card__content
                    h3.service-card__title
                        span Glass
                        | structures

                    a.arrow-button.service-card__next(href="#")
                        .arrow-button__pic
                            svg.arrow-button__icon(width="17" height="16")
                                use(xlink:href="img/sprite.svg#arrow-right")
                        | Next