section.product-section
    .container.product-section__container
        .product-section__col.product-section__col--md-order-1
            h2.product-section__title.product-section__title--visible-md Steel construction - statics
            
            picture.product-section__picture
                img.product-section__img(src="img/product-img-1.webp" srcset="img/product-img-1@2x.webp 2x" loading="lazy" width="545" height="336" alt="alt")
        
        .product-section__col.product-section__col--md-order-2
            h2.product-section__title.product-section__title--hidden-md Steel construction - statics
            
            .product-section__text
                p In alignment with the prevailing construction standards, specifically SIA 263 and Eurocode 3, our focus consistently centers on maximizing the efficient utilization of profile sizes while meticulously considering the imperative safety requirements. Our paramount objective is to identify the optimal design solution that best serves the interests of both our esteemed customers and steel constructors. Furthermore, we are dedicated to streamlining the manufacturing and assembly processes to achieve peak efficiency.
        
        .product-section__col.product-section__col--md-order-4
            .product-section__text
                p Upon request, we can promptly provide an initial pre-dimensioning, complete with rudimentary sketches for your convenience.
                p In the detailed structural analysis phase, we meticulously specify the precise dimensions for each individual beam and furnish the necessary details for connection joints. This comprehensive process encompasses the calculation and determination of weld seam sizes and anchor requirements as well.
            
            a.button.product-section__button(href="#" data-modal="modal-quote") Get a quote
        
        .product-section__col.product-section__col--md-order-3
            picture.product-section__picture
                img.product-section__img(src="img/product-img-2.webp" srcset="img/product-img-2@2x.webp 2x" loading="lazy" width="564" height="352" alt="alt")
