section.steps-section
    .steps-section__container
        ul.steps-section__list
            li.steps-section__item.animation-down(data-delay="0.1")
                .detail-card
                    .detail-card__number 01
                    h3.detail-card__title Technical consultation

            li.steps-section__item.animation-down(data-delay="0.2")
                .detail-card
                    .detail-card__number 02
                    h3.detail-card__title COST CALCULATION. LUMP SUM OR HOURLY RATE
            
            li.steps-section__item.animation-down(data-delay="0.3")
                .detail-card
                    .detail-card__number 03
                    h3.detail-card__title PRE-DIMENSIONIG
            
            li.steps-section__item.animation-down(data-delay="0.4")
                .detail-card
                    .detail-card__number 04
                    h3.detail-card__title EXECUTION ENGINEERING ACCORDING TO FIRST DRAWINGS
            
            li.steps-section__item.animation-down(data-delay="0.5")
                .detail-card
                    .detail-card__number 05
                    h3.detail-card__title FINAL INSPECTION AND STATIC APPROVAL
